<!DOCTYPE html>
<html>
<head>

  <title>Linkbox</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<div class="container-fluid">

  <div class="header">
    <div id="logo">
      <a href="#"><img src="/images/logo.png" class="img-responsive" alt="Linkbox" />Linkbox</a>
    </div>
    <nav>
      <ul id="sitebar">
        <li><a href="">About &nbsp; &nbsp; </a></li>
        <li><a href="#Feature">Feature &nbsp; &nbsp; </a></li>
        <li><a target="_blank" href="https://www.facebook.com/getlinkbox">blog &nbsp; &nbsp; </a></li>
        <button type="button" class="btn btn-default btn-lg"><a href="http://localhost:3000/login">로그인</a></button>

        <hr>
      </ul>
    </nav>
  </div><!-- header -->





  <div class="mainContainer">
    <div class="imagewrap">

      <img src="/images/indexImage1.png" class="img-responsive center-block"  alt="Main Picture">
    </div>
      <input type="button" class="btn btn-warning" value="Google로 등록 " />
      <input type="button" class="btn btn-primary" value="페이스북으로 등록" />


    <div id="indexImage2" class="jumbotron">
      <!-- 스크롤 이동 -->
      <a name="Feature"></a><br>
      <h5>

        <p><img src="/images/indexImage2.png" class="img-responsive center-block" /></p>

        인터넷을 할 때도,</br> 친구랑 카톡을 할 때도</br> 언제어디서든 링크를 저장할 수 있습니다.

        <p><a class="btn btn-primary btn-lg" href="#" role="button" id="buttonOfIndexImage2">Learn more</a></p>
      </h5>
    </div>

    <div id="indexImage3" class="jumbotron">

      <p><img src="/images/indexImage3.png" class="img-responsive center-block"/></p>

      <h5>원하는 사람에게 메일로 초대메세지를 </br> 보내보세요. 내가 초대한 링크목록을 </br> 공유하고 관리권한을 공유하게 됩니다. </br> 친구들과 함께 멋진 링크박스를 만들어보세요.

        <p><a class="btn btn-primary btn-lg" href="#" role="button" id="buttonOfIndexImage3">Learn more</a></p>

      </h5>
    </div>
  </div><!-- mainContainer -->




  <div class="footer">

    <h1><a href="#"><img src="/images/nameLogo.png" alt="Linkbox"></a></h1>
    <div class="copy">
      <span>서울시 (퇴계동 866-3)</span> <span>TEL 010) 222-9999</span> <span>FAX 033)256-9786 </span> <span>Email <a href="mailto:fullstackfactory@gmail.com">fullstackfactory@gmail.com</a></span> <br>
      <span>Copyright@2015 FullstackFactory All Rights Reserved.</span>
    </div>
    <div class="link">
      <a href="#">Contact Us</a>
      <span>·</span>
      <a href="#">Sitemap</a>
    </div>

  </div><!-- //footer -->
</div><!-- //wrap -->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
